.inst-SearchBar {
    display: flex;
}

.inst-SearchBar input {
    padding: 0 15px;
    border-right: none;
    border: 1px solid var(--color-font-placeholder);
    border-radius: 5px 0 0 5px;
}

.inst-SearchBar input::placeholder {
    color: var(--color-font-placeholder);
}

.inst-SearchBar input:focus {
   outline: none;
}

.inst-form-control {
    height: 40px;
    width: 100%;
}

.inst-search-bar-submit{
    background-color: var(--color-bg-tertiary);
    color:var(--color-bg-primary);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 0px 5px 5px 0px;
    padding: 0 11px;


}