#inst-catalog-section {
    padding: 40px 0;
}

.inst-search-bar-container {
    margin-bottom: 40px;
}

.inst-catalog-card-container {
    border: none;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(258px,1fr));
}

.inst-catalog-main {
    padding: 0 10px;
}

@media (min-width: 576px) {
    .inst-catalog-main {
        padding: 0 20px;
    }
}